{%extends 'base.html'%} {%block content%}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height: 84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class=" card mx-auto" style="max-width: 380px; margin-top: 100px">
      <div class="card-body">
        <h4 class="card-title mb-4">Change password</h4>
        {%include 'snippets/alerts.html'%}

        <form method="POST" action="{%url 'changepassword'%}">{%csrf_token%}
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="change password" />
          </div>
          <!-- form-group// -->
          <div class="form-group">
            <input type="password" class="form-control" name="confirmpassword" placeholder="confirm new password" />
          </div>
          <!-- form-group// -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Change password</button>
          </div>
          <!-- form-group// -->
        </form>
      </div>
      <!-- card-body.// -->
    </div>
    <!-- card .// -->
    <br /><br />
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{%endblock%}
